*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Fira Code", monospace;
}
p {
   color: #D9D9D4; 
}
body{
width:100%;
background: #1e1f1c;
}
.container{
    max-width: 797px;
    height: 1776px;
    background: #272822;
    margin: auto;
}
/* ----------------------------For Nav bar---------------------------------------------------------- */
.nav-link{
    background-color: #1e1f1c;
    display: inline-flex;
    width:100%;
    padding-top: 70px;
}
div.container nav.nav-link div.navLinkBlog {
    background-color: #272822;
}
div.container nav .navLink a, div.container nav.nav-link div.navLinkBlog a {
    text-decoration: none;
    color: #C6C6C5;
}
div.container nav.nav-link div.navLink, div.container nav.nav-link div.navLinkBlog {
    width: 100px;
    padding: 8px 10px 8px 10px;
    margin-right: 1px;
}    
div.container nav.nav-link div.navLink {
    background-color:#34352F ;
}
.mainContent {
    display: flex;
}
/* ----------------------------For numbers--------------------------------------------------------------- */
.numbers {
    margin-top: 25px;
}
.eachNumber {
    color:#72736C;
    padding: 3px 20px 3px 35px;
    text-align: right;
}
.more {
    visibility: hidden;
}

/* ----------------------------For imgs and writeups----------------------------------------------------- */
.heading {
    margin: 30px 0;
}
.heading h1, .blogWriteUp h1 a {
    font-size: 20px;
    color: #DCDCD5;
}
.paragraphs p {
    font-size: 18px;
}
.writeUptime {
    font-size: 13px;
}

.imgAndWriteUp {
    display: flex;
    margin-bottom: 20px;
}

.blogImgs img {
    width: 100%;
}
.blogImgs {
    width: 160px;
    margin-right: 15px;
}
.blogWriteUp {
    width: 62% ;
}
.blogWriteUp-heading a:hover {
    color:RGB(78, 148, 206);
}
.paragraphs {
    height: 3rem;
}
/* ----------------For the footer------------------------------------------------------ */
.a_line {
    border: none;
    margin-top: 28px;
}
.a_line::before {
    content: "//";
    color: #72736C;
    margin-left: 10px;
}
.a_line::after {
    content: "----------------------------------------------------------------------";
    color: #72736C;
}
.footer-links {
    display: inline-flex;
    gap: 150px;
    margin-top: 28px;
    margin-left: 5px;
}
.socials a {
    border-bottom: 2px solid #90BC39;
    color: #90BC39;
    font-size: 18px;
}
.socials a:hover {
    color: RGB(78, 148, 206);
    border-bottom: 2px solid RGB(78, 148, 206);
}
.socials li {
    display:inline-flex;
}
.bullet-point {
    color:#D9D9D4;
}
.page-mode a {
    font-size: 18px;
    color: #D9D9D4;
    font-weight: bold;
}
select:hover {
    color: RGB(78, 148, 206);
}
select {
    margin-top: 5px;
    background:none;
    color: #DCDCD5;
    font-size: 15px;
    border: none;
    -webkit-appearance: none;
}
option {
    background-color: #272822;
    color: #D9D9D4;
}
/* -------------------------Screen Size 723px to 625px ---------------------------------------- */
@media (max-width: 735px) and (min-width: 631px) {
    .a_line::after {
        content: "--------------------------------------------------------";
    }
    .footer-links {
            gap: 50px; 
    }
}
/* --------------------------Screen Size 624px to 460px------------------------------------------ */
@media (max-width: 630px) and (min-width:200px) {
    .nav-link {
        padding-top: 0%;
    }
    .imgAndWriteUp {
        display: block;
        margin-bottom: 20px;
    }
    .blogImgs {
        width: 300px;
    }
    .eachNumber {
        padding: 3px 20px 3px 15px;
        font-size: 15px;
    }
    .a_line::after {
        content: "------------------------------------------";
    }
    .more {
        visibility: visible;
    }
    .container {
        height: 2000px;
    }
    .socials li, .footer-links {
        display: block;
    }
    .socials li {
        line-height: 0.3;
    }
    .bullet-point {
        visibility: hidden;
    }
    .heading h1, .blogWriteUp h1 a {
        font-size: 18px;
    }
    .paragraphs p {
        font-size: 15px;
    }
    .blogWriteUp {
        width: 300px;
        margin-top: 15px;
    }
    .a_line {
        margin-top: 2px;
    }
    #color-mode {
        margin-top: 15px;
    }
    .socials a {
        font-size: 15px;
    }
    .mode-div {
        margin-top: 20px;
    }
}
/* --------------------------Screen Size 459px to 200px------------------------------------------------ */
@media (max-width: 459px) and (min-width:200px) {
    .a_line::after {
        content: "--------------------------------";
    }
    .container {
        width: fit-content;
    }
}