*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
width:100%;
background: #1e1f1c;
}

.container{
    max-width: 797px;
    min-width: 300px;
    height: 1776px;
    background: #272822;
    margin: auto;
}

/* ----------------------------For Nav bar---------------------------------------------------------- */
.nav-link{
    background-color: #1e1f1c;
    display: inline-flex;
    width:100%;
    padding-top: 70px;
}
div.container nav.nav-link div.navLinkProject {
    background-color: #272822;
}
div.container nav .navLink a, div.container nav.nav-link div.navLinkProject a {
    text-decoration: none;
    color: #C6C6C5;
}
div.container nav.nav-link div.navLink, div.container nav.nav-link div.navLinkProject {
    width: 15%;
    padding: 8px 10px 8px 10px;
    margin-right: 1px;
}    
div.container nav.nav-link div.navLink {
    background-color:#34352F ;
}

/* Digit styling */
.nav-label{
    margin-top: 20px;
}

.label-number{
   margin: 0 20px 0 50px;
}

.label-number2{
    margin-left: 44px;
    margin-right: 20px;
}
/* Image and text number styling */
.image-text{
    display: flex;
}

.label-image{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

p{
    line-height: 24px;
    color: #f8f8f2;
}


/* ----------------For the footer------------------------------------------------------ */
.a_line {
    border: none;
    margin-top: 28px;
}
.a_line::before {
    content: "//";
    color: #72736C;
    margin-left: 10px;
}
.a_line::after {
    content: "----------------------------------------------------------------------";
    color: #72736C;
}
.footer-links {
    display: inline-flex;
    /* gap: 150px; */
    margin-top: 28px;
    margin-left: 5px;
}
.socials a {
    border-bottom: 2px solid #90BC39;
    color: #90BC39;
    font-size: 18px;
}
.socials a:hover {
    color: RGB(78, 148, 206);
    border-bottom: 2px solid RGB(78, 148, 206);
}
.page-mode a{
    font-size: 18px;
    color: #D9D9D4;
    font-weight: bold;
    margin-left: 250px;
}
.mono:hover, .symbol:hover {
    color: RGB(78, 148, 206);
}
.symbol {
    color: #90BC39;
}